@font-face {
    font-family: Avenir;
    src: url("../assets/Fonts/Avenir/Metropolis-Regular.otf") format("opentype");
}

@font-face {
    font-family: Avenir;
    font-weight: bold;
    src: url("../assets/Fonts/Avenir/Metropolis-Bold.otf") format("opentype");
}

@font-face {
    font-family: Avenir;
    font-weight: 400;
    src: url("../assets/Fonts/Avenir/Metropolis-Medium.otf") format("opentype");
}

body {
    background-color: #0b0b0b;
    font-family: Avenir;
}

.mainContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 800px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

    .leftSide {
        flex: 60%;
    }

        .leftSide h1 {
            font-size: 40px;
            color: white;
            font-weight: 400;
            margin-bottom: 10px;
        }

        .leftSide p {
            max-width: 420px;
            color: #6A6A6A;
            font-weight: 100;
        }

        .leftSide p span {
            font-weight: bold;
        }

        .leftSide .btnGrp {
            margin-top: 40px;
        }

        .leftSide div a {
            text-decoration: none;
            margin: 0px 30px 0px 0px;
        }

        .leftSide .btnLogin {
            padding: 10px 40px 10px 40px;
            background: #F74D4D;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        .leftSide .btnReg {
            padding: 5px 10px 5px 10px;  
            color: #B7B7B7;
            font-weight: 100;
        }

    .rightSide {
        flex: 40%;
    }

        .rightSide .rightContainer {
            margin-top: 70px;
            height: 390px;
            width: 260px;
            padding: 10px 15px 25px 15px;
            background-color: #181818;
            border-radius: 10px;
        }

        .rightContainer h2 {
            color: white;
            margin-left: 7px;
        }

        .rightContainer input {
            background: rgba(210, 210, 210, 0.25);
            border: 2px solid #BCBCBC;
            box-sizing: border-box;
            border-radius: 5px;
            width: 100%;
            margin: 10px 5px 10px 5px;
            padding: 10px 5px 10px 5px;
        }

        .rightContainer button {
            display: block;
            margin: 20px 0px 10px 0px;
            width: 100%;
            background-color: #F74D4D;
            color: white;
            padding: 10px 0px 10px 0px;
            border-radius: 5px;
            border: 1px solid #F74D4D;
            font-weight: 400;
}

